
  <tbody class="table-group-divider">
    <tr>
      <th scope="row"><%=task.id%></th>
      <td><%=task.name%></td>
      <td><%=task.description%></td>
      <td><%=task.priority%></td>
      <td><%= link_to "Show this task", task %></td>
    </tr> 
   
  </tbody>
