<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row"><%=@task.id%></th>
      <td><%=@task.name%></td>
      <td><%=@task.description%></td>
      <td><%=@task.priority%></td>
      <td><%= button_to "Destroy this task", @task, method: :delete, class: "btn btn-danger"  %></td>
      
    </tr>
    
  </tbody>
</table>
<div>
  <%= link_to "Edit this task", edit_task_path(@task), class: "btn btn-dark"%>
  <br>
  <br>
  <%= link_to "Back to tasks", tasks_path, class: "btn btn-dark" %>
</div>
